.btn {
    padding: 10px 30px;
    font-size: 14px;
    color: #000;
    height: 40px;
    box-sizing: border-box;
    transition: all 0.3s;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &--secondary {
        background-color: $secondary-color;
        color: #fff;
        border-radius: 4px;
    }
    &--tertiary {
        background-color: #fff;
        color: #2a3539;
        border-radius: 4px;
    }
}
